In [ ]:
#pip install mysql-connector-python
#pip install faker
#pip install streamlit
#pip install pymysql 

# Import necessary packages
import pandas as pd
import faker as fk
from faker import Faker
import streamlit as st
import numpy as np
import mysql.connector
from sqlalchemy import create_engine
fake = Faker()
from datetime import datetime

# Establish Database connection to MySQL
mydb=mysql.connector.connect(host="gateway01.ap-southeast-1.prod.aws.tidbcloud.com",
                             user="2zfoFbFCnKGxKRW.root",
                             password='QdIF3FJ19vZSHlNs',
                             port=4000)
arv=mydb.cursor()

# Drop Data base if already exist and Create a new Database
arv.execute("DROP DATABASE Placement_Eligibility")
arv.execute("CREATE DATABASE Placement_Eligibility")
# Use the Created Database for the Application
arv.execute("USE Placement_Eligibility")
arv.execute("START TRANSACTION")

# Create Necessary Tables with Primary Key
arv.execute("""CREATE TABLE  Students_Table  (
     student_id      VARCHAR(15) NOT NULL UNIQUE,
     name            VARCHAR(50) NOT NULL,
     age             INT,
     gender          ENUM('Male', 'Female', 'Other', ' ') DEFAULT ' ',
     email           VARCHAR(50),
     phone           VARCHAR(13),
     enrollment_year VARCHAR(50),
     course_batch    VARCHAR(10),
     city  	     VARCHAR(30),
     graduation_year YEAR,
     CONSTRAINT pk_Students_Table PRIMARY KEY ( student_id ),
     INDEX ix_student_table ( student_id ))
     """);

arv.execute("""CREATE TABLE Programming_Table (
    programming_id 	  VARCHAR(15) UNIQUE NOT NULL,
    student_id 	  	  VARCHAR(15) NOT NULL,
    language 		  VARCHAR(20),
    problems_solved 	  INT,
    assessments_completed INT,
    mini_projects 	  INT,
    certifications_earned INT,
    latest_project_score  INT,
    CHECK(latest_project_score >=100),
    CONSTRAINT pk_programming PRIMARY KEY ( programming_id ),
    INDEX ix_programming_table ( student_id ))
    """);
# ,CONSTRAINT fk_pgmstudent FOREIGN KEY ( student_id ) REFERENCES Students_Table ( student_id )

arv.execute("""CREATE TABLE Soft_Skill_Table (
    soft_skill_id     VARCHAR(15) UNIQUE NOT NULL,
    student_id 		  VARCHAR(15) NOT NULL,
    communication     INT, 
    teamwork 		  INT,
    presentation 	  INT,
    leadership 		  INT,
    critical_thinking     INT,
    interpersonal_skills  INT,
    CHECK(communication <= 100),
    CHECK(teamwork <= 100),
    CHECK(presentation <= 100),
    CHECK(leadership <= 100),
    CHECK(critical_thinking <= 100),
    CHECK(interpersonal_skills <= 100),
    CONSTRAINT pk_softskill PRIMARY KEY ( soft_skill_id ),
    INDEX ix_softskill_table ( student_id ))
    """);
# ,CONSTRAINT fk_st_student FOREIGN KEY ( student_id ) REFERENCES Students_Table ( student_id )

arv.execute("""CREATE TABLE Placement_Table (
    placement_id           VARCHAR(15) UNIQUE NOT NULL,   
    student_id             VARCHAR(15) NOT NULL,
    mock_interview_score   INT,
    internships_completed  INT,
    placement_status       ENUM('Ready', 'Not Ready', 'Placed', ' ') DEFAULT ' ',
    company_name           VARCHAR(50),  
    placement_package      INT,
    interview_rounds_cleared INT,
    placement_date         DATE,
    CHECK(interview_rounds_cleared <=3),
    CHECK(mock_interview_score <=100),
    CONSTRAINT pk_placement PRIMARY KEY ( placement_id ),
    INDEX ix_placement_table ( student_id ))            
    """);
# ,CONSTRAINT fk_st_studenttb FOREIGN KEY ( student_id ) REFERENCES Students_Table ( student_id )

In [ ]:
# Declare DB variables for connection
db_host='gateway01.ap-southeast-1.prod.aws.tidbcloud.com'
db_user='2zfoFbFCnKGxKRW.root'
db_password='QdIF3FJ19vZSHlNs'
db_name='Placement_Eligibility'

# Create a definition to create fake data using faker for 500 times
def dummy_stud_table(numRec):
    numRec1=0
    for _ in range(numRec):
        tbname.append(fake.name())
        tbage.append(np.random.randint(21,35))
        tbgender.append(fake.random_element(elements=options))
        tbemail.append(fake.email())
        tbphone.append(fake.phone_number())
        tbenrol.append(fake.random_element(elements=yearlst))
        tbbtch.append(fake.random_element(elements=btchlst))
        tbcity.append(fake.random_element(elements=citylst))
        tbgradyear.append(fake.random_element(elements=yearlst))
        tblang.append(fake.random_element(elements=langlst))
        tbpbsloved.append(np.random.randint(0,100))
        tbasscomp.append(np.random.randint(0,5))
        tbminpj.append(np.random.randint(0,3))
        tbcert.append(np.random.randint(0,5))
        tblstscore.append(np.random.randint(0,100))
        tbcommun.append(np.random.randint(0,100))
        tbteam.append(np.random.randint(0,100))
        tbpresent.append(np.random.randint(0,100))
        tbleader.append(np.random.randint(0,100))
        tbcritc.append(np.random.randint(0,100))
        tbinter.append(np.random.randint(0,100))
        tbmock.append(np.random.randint(0,100))
        tbintship.append(np.random.randint(0,10))
        tbplacests.append(fake.random_element(elements=status))
        tbcomp.append(fake.company())
        tbpack.append(np.random.randint(2500000,5000000))
        tbroundclr.append(np.random.randint(0,5))
        tbplcdt.append(fake.date_between(start_date=datetime(2025,6,1),end_date=datetime(2025,12,31)))
        numRec1+=1
        formatted_stu = f"STD_ID_{numRec1:08}"
        formatted_pgm = f"PGM_ID_{numRec1:08}"
        formatted_sof = f"SSK_ID_{numRec1:08}"
        formatted_plc = f"PLC_ID_{numRec1:08}"
        tbstuid.append(formatted_stu)
        tbpgmid.append(formatted_pgm)
        tbsofid.append(formatted_sof)
        tbplcid.append(formatted_plc)
# default select list for some random data
options=['Male','Female','Other']
status=['Ready', 'Not Ready', 'Placed']
yearlst=[2020,2021,2022,2023,2024,2025]
btchlst=['BT_2020_Q1','BT_2020_Q2','BT_2020_Q3','BT_2020_Q4',
         'BT_2021_Q1','BT_2021_Q2','BT_2021_Q3','BT_2021_Q4',
         'BT_2022_Q1','BT_2022_Q2','BT_2022_Q3','BT_2022_Q4',
         'BT_2023_Q1','BT_2023_Q2','BT_2023_Q3','BT_2023_Q4',
         'BT_2024_Q1','BT_2024_Q2','BT_2024_Q3','BT_2024_Q4',
         'BT_2025_Q1','BT_2025_Q2','BT_2025_Q3','BT_2025_Q4',]
citylst=['Chennai','Kanchipuram','vellore','Mumbai','Delhi','Andhra Pradesh','Bangalore','Cochin']
langlst=['C/C++','JAVA','AWS Technology','Mainframe','Data Science','AS400','Finacle','Web Developing','Python','VLSI Development']
# Students details table Columns
tbstuid=[]
tbname=[]
tbage=[]
tbgender=[]
tbemail=[]
tbphone=[]
tbenrol=[]
tbbtch=[]
tbcity=[]
tbgradyear=[]
# Programming skill table Columns
tbpgmid=[]
tblang=[]
tbpbsloved=[]
tbasscomp=[]
tbminpj=[]
tbcert=[]
tblstscore=[]
# soft skill table Columns
tbsofid=[]
tbcommun=[]
tbteam=[]
tbpresent=[]
tbleader=[]
tbcritc=[]
tbinter=[]
# Placement table Columns
tbplcid=[]
tbmock=[]
tbintship=[]
tbplacests=[]
tbcomp=[]
tbpack=[]
tbroundclr=[]
tbplcdt=[]



dummy_stud_table(500)
#INSRT =("INSERT INTO Students_Table (name, age, gender, email, phone, enrollment_year, course_batch, city, graduation_year) VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s)")
engine = create_engine(f'mysql+mysqlconnector://{db_user}:{db_password}@{db_host}/{db_name}')
df_stud=pd.DataFrame(zip(tbstuid,tbname,tbage,tbgender,tbemail,tbphone,tbenrol,tbbtch,tbcity,tbgradyear),columns=['student_id','name', 'age', 'gender', 'email', 'phone', 'enrollment_year', 'course_batch', 'city', 'graduation_year'])
stu_table = 'Students_Table'
df_stud.to_sql(name=stu_table, con=engine, if_exists='replace',index=False)

df_prog=pd.DataFrame(zip(tbpgmid,tbstuid,tblang,tbpbsloved,tbasscomp,tbminpj,tbcert,tblstscore),columns=['programming_id','student_id','language', 'problems_solved', 'assessments_completed', 'mini_projects', 'certifications_earned', 'latest_project_score'])
pgm_table = 'Programming_Table'
df_prog.to_sql(name=pgm_table, con=engine, if_exists='replace',index=False)

df_ssk=pd.DataFrame(zip(tbsofid,tbstuid,tbcommun,tbteam,tbpresent,tbleader,tbcritc,tbinter),columns=['soft_skill_id','student_id','communication', 'teamwork', 'presentation', 'leadership', 'critical_thinking', 'interpersonal_skills'])
ssk_table = 'Soft_Skill_Table'
df_ssk.to_sql(name=ssk_table, con=engine, if_exists='replace',index=False)

df_plc=pd.DataFrame(zip(tbplcid,tbstuid,tbmock,tbintship,tbplacests,tbcomp,tbpack,tbroundclr,tbplcdt),columns=['placement_id','student_id','mock_interview_score', 'internships_completed', 'placement_status', 'company_name', 'placement_package', 'interview_rounds_cleared','placement_date'])
plc_table = 'Placement_Table'
df_plc.to_sql(name=plc_table, con=engine, if_exists='replace',index=False)

arv.execute("""commit;""")

In [12]:
mydb=mysql.connector.connect(host="gateway01.ap-southeast-1.prod.aws.tidbcloud.com",
                             user="2zfoFbFCnKGxKRW.root",
                             password='QdIF3FJ19vZSHlNs',
                             port=4000,
                             database='Placement_Eligibility')
arv=mydb.cursor()

arv.execute("""ALTER TABLE Students_Table ADD INDEX idx_students_table( student_id(15) ASC ) VISIBLE""");
arv.execute("""
ALTER TABLE Programming_Table
ADD INDEX idx_programming_table(student_id(15) ASC ) VISIBLE;
ALTER TABLE Programming_Table
ADD CONSTRAINT fk_programming_table 
FOREIGN KEY ( student_id ) 
REFERENCES Students_Table ( student_id )
ON DELETE CASCADE ON UPDATE CASCADE
""")
mydb=mysql.connector.connect(host="gateway01.ap-southeast-1.prod.aws.tidbcloud.com",
                             user="2zfoFbFCnKGxKRW.root",
                             password='QdIF3FJ19vZSHlNs',
                             port=4000,
                             database='Placement_Eligibility')
arv=mydb.cursor()
arv.execute("""
ALTER TABLE Soft_Skill_Table
ADD INDEX idx_softskill_table(student_id(15) ASC ) VISIBLE;
ALTER TABLE Soft_Skill_Table
ADD CONSTRAINT fk_softskill_table 
FOREIGN KEY ( student_id ) 
REFERENCES Students_Table ( student_id )
ON DELETE CASCADE ON UPDATE CASCADE
""")
mydb=mysql.connector.connect(host="gateway01.ap-southeast-1.prod.aws.tidbcloud.com",
                             user="2zfoFbFCnKGxKRW.root",
                             password='QdIF3FJ19vZSHlNs',
                             port=4000,
                             database='Placement_Eligibility')
arv=mydb.cursor()
arv.execute("""
ALTER TABLE Placement_Table
ADD INDEX idx_placement_table(student_id(15) ASC ) VISIBLE;
ALTER TABLE Placement_Table
ADD CONSTRAINT fk_placement_table 
FOREIGN KEY ( student_id ) 
REFERENCES Students_Table ( student_id )
ON DELETE CASCADE ON UPDATE CASCADE
""")